@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url(https://use.fontawesome.com/releases/v6.4.2/css/all.css);
@import url(https://db.onlinewebfonts.com/c/3980c818f6ac2f0278711008c295bde4?family=Bellfort+Rough+Demo);
@import url('https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&family=Poller+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&family=Poller+One&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Edu+AU+VIC+WA+NT+Arrows:wght@400..700&family=Jaro:opsz@6..72&family=Londrina+Outline&family=Parkinsans:wght@300..800&family=Poller+One&family=Rubik+Mono+One&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Workbench&display=swap');


:root {
    --color-primary: #4d4d4d;
    --color-secondary: #ffe600;
    --color-base: #f0f0f0f0;
    --color-forty: #000000;
    --color-five: #C0C0C0;
    --color-text: #003366;
    --color-layout: #101010;
    --color-layout2: #787878;
}



.area1a {
    grid-area: 1 / 4 / 2 / 14;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background: var(--color-forty);
    transition: none;
    padding: 0;
    margin: 0;

}


.area2a {
    grid-area: 1 / 1 / 6 / 4;
    /*background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,51,102,1) 66%, rgba(87,87,87,1) 100%);*/
    background: #ffe600;
    background: linear-gradient(0deg, rgba(255,230,0,1) 0%, rgba(255,255,102,1) 66%, rgba(255,255,204,1) 100%);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    transition: none;
    filter: grayscale(100%);
}


.area3a-aboutme {
    grid-area: 6 / 1 / 14 / 4;
    /*background: linear-gradient(0deg, #ffffff, #f0f0f0, #e0e0e0, #d0d0d0, #c0c0c0);*/
    background: #ffe600;
    background: linear-gradient(0deg, #ffe600 0%, #ffff66 66%, #ffffcc 100%);
    display: flex;
    flex-direction: column;

    
}

.area4a {
    grid-area: 2 / 4 / 6 / 11;
    background-image: url('../assets/backgris.webp');
}

.area5a {
    grid-area: 6 / 4 / 10 / 7;
    background-image: url('../assets/backgris.webp');
}

.area6a {
    grid-area: 2 / 11 / 10 / 14;
    background: rgb(211,211,211);
    background: linear-gradient(115deg, rgba(211,211,211,1) 0%, rgb(182, 181, 181) 52%, rgb(156, 156, 156) 100%);
}

.area7a {
    grid-area: 10 / 4 / 14 / 7;
    background: var(--color-layout);
}

.area8a {
    grid-area: 10 / 11 / 14 / 14;
    background: var(--color-layout);
}

.area9a {
    grid-area: 10 / 11 / 14 / 14;
    background: var(--color-layout);
}

.area10a{
    grid-area: 6 / 7 / 14 / 11;
    background-image: url('../assets/backgris.webp');
}





/*estilos de los datos*/


.personal-info__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    backdrop-filter: blur(10px);
    
}

.personal-info__option {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 90%;
    padding: 2rem;

}


.personal-info__title {
    font-size: 18px;
    font-family: "Montserrat";;
    font-weight: 700;
    color: var(--color-text);

}

.personal-info__title i{
    font-size: 20px;
    color: var(--color-text);
    font-weight: bolder;
    margin-right: 10px;
}

.personal-info__value {
    font-size: 18px;
    font-family: "Montserrat";;
    font-weight: 700;
    color: var(--color-layout);
}

.personal-info__option:hover {
    background: #ffe600;
    background: linear-gradient(0deg, rgba(255,230,0,1) 0%, rgba(255,255,102,1) 66%, rgba(255,255,204,1) 100%);
    transition: background-color 0.3s ease;
    border-radius: 15px;
}

.personal-info__option:hover .personal-info__title i {
    color: var(--color-forty);
    transition: color 0.3s ease;
}

/*fin de estilos datos*/


/*header e info*/

.about__header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    backdrop-filter: blur(10px);
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.personal-info__bio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.personal-info__titleone{
    font-size: 24px;
    font-family: "Parkinsans";
    color: var(--color-forty);
    text-align: center;
    text-transform: uppercase;
    width: 90%;
    font-weight: 700;
    letter-spacing: 0.5px;
    margin: 10px 0;
}

.ivangaray{
    color: var(--color-secondary);
    background-color: var(--color-forty);
    border-radius: 15px;
    padding: 3px 8px;
    font-size: 20px;
    font-family: "ambiguity";
    font-weight: bolder;
    
    
}

.personal-info__description{
    font-size: 19px;
    font-family: "Montserrat";
    color: var(--color-layout);
    text-align: center;
    text-transform: none;
    width: 90%;
    font-weight: 500;
    letter-spacing: 0.5px;
    word-break: break-word;
    margin-top: 5px;
    margin-bottom: 10px;
    line-height: 1.2;
}

/*fin header*/


/*Marca Personal*/


.design__container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
    width: 100%;
    height: 100%;
    border-radius: 15px;

}

.about__design{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.design__presentation{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 50px;
}

.design__subtitule{
    font-size: 22px;
    font-family: "Parkinsans";
    color: var(--color-forty);
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 10px;
}

.design__subtitule:nth-child(1){
    color: var(--color-text);
}


.design__text{
    font-size: 18px;
    font-family: "Montserrat";
    color: var(--color-layout);
    text-align: justify;
    text-transform: none;
    width: 90%;
    font-weight: 500;
    word-break: break-word;
    margin: 10px 0px;
    line-height: 1;
}


.logo__about{
    width: 150px;
    height: 150px;
}

.logo__about:hover{
    transform: translateY(-10px) scale(1.2) rotate(0deg);
    transition: all 0.3s ease;
}



/*fin marca personal*/



/*experiencia y demas*/

.objetivos2 {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100%;
    height: 100%;
}



.objetivos__mision2{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.subtitle__mision2 {
    font-size: 32px;
    font-family: "Parkinsans";
    color: var(--color-secondary);
    text-shadow: 2px 2px 2px var(--color-text);
    text-transform: uppercase;
    letter-spacing: 5px;
    position: absolute;
    top: 30%;
    left: 18%;
    transition: all 0.1s ease-in-out;
}

.subtitle__mision22 {
    font-size: 32px;
    font-family: "Parkinsans";
    color: var(--color-secondary);
    text-shadow: 2px 2px 2px var(--color-text);
    text-transform: uppercase;
    letter-spacing: 5px;
    position: absolute;
    top: 30%;
    left: 23%;
    transition: all 0.1s ease-in-out;
}

.subtitle__mision222 {
    font-size: 32px;
    font-family: "Parkinsans";
    color: var(--color-secondary);
    text-shadow: 2px 2px 2px var(--color-text);
    text-transform: uppercase;
    letter-spacing: 5px;
    position: absolute;
    top: 30%;
    left: 26%;
    transition: all 0.1s ease-in-out;
}










.text__mision2 {
    position: relative;
    font-size: 30px;
    font-family: "parkinsans";
    text-transform: capitalize;
    text-align: center;
    color: var(--color-base);
    width: 100%;
    font-weight: bold;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    letter-spacing: 2px;
    transition-delay: 0s;
    margin: 0;
    margin-bottom: 30px;
}

.text__mision2 i{
    color: var(--color-secondary);
    font-size: 32px;
    margin-left: 10px;
}


.text__mision22{
    position: relative;
    font-size: 70px;
    font-family: "parkinsans";
    text-transform: capitalize;
    text-align: center;
    color: var(--color-secondary);
    width: 100%;
    font-weight: bold;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    letter-spacing: 2px;
    transition-delay: 0s;
    margin: 0;
}




.objetivos2:hover .text__mision {
    opacity: 1;
    visibility: visible;
    
}



.objetivos2:hover .text__mision22 {
    transition-delay: 0.1s;
}

.objetivos2:hover .text__mision2 {
    transition-delay: 0.1s;
}






.text__mision:hover i{
    color: var(--color-base);
}

/*.servicio__hr2 {
    width: 60%;
    height: 5px;
    border: none;
    background-color: var(--color-secondary);
    border-radius: 15px;
    margin-bottom: 10px;
    margin-top: 0;
    visibility: visible;
    opacity: 1;
    position: absolute;
    top: 29%;
    left: 22%;
    transition: all 0.1s ease-in-out;
}*/



.objetivos2:hover .text__mision2 {
    opacity: 1;
    visibility: visible;

}

.objetivos2:hover .text__mision22 {
    opacity: 1;
    visibility: visible;

}

/*.objetivos2:hover .servicio__hr2 {
    visibility: hidden;
    opacity: 0;
    animation: fadeIn 0.3s ease-out;
}*/

.objetivos2:hover .subtitle__mision2,
.objetivos2:hover .subtitle__mision22,
.objetivos2:hover .subtitle__mision222 {
    opacity: 1;
    visibility: hidden;
}

@keyframes slideIn {
    from {
        transform: translateY(-20px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideOut {
    from {
        transform: translateY(0);
        opacity: 1;
    }

    to {
        transform: translateY(-20px);
        opacity: 0;
    }
}

.objetivos2:hover .subtitle__mision2,
.objetivos2:hover .subtitle__mision22,
.objetivos2:hover .subtitle__mision222
.objetivos2:hover .text__mision2 {
    animation: slideIn 0.4s ease-out;
}

.objetivos2:not(:hover) .subtitle__mision2,
.objetivos2:not(:hover) .subtitle__mision22,
.objetivos2:not(:hover) .subtitle__mision222 {
    animation: slideOut 0.1s ease-out;
}

.objetivos2:not(:hover) .text__mision2 {
    opacity: 0;
    visibility: hidden;
    /* Ocultar */
    animation: slideOut 0.1s ease-out;
}

.objetivos2:hover .text__mision2 {
    animation: slideIn 0.4s ease-out;
}

.objetivos2:not(:hover) .subtitle__mision2
.objetivos2:not(:hover) .subtitle__mision22,
.objetivos2:not(:hover) .subtitle__mision222 {
    animation: slideOut 0.1s ease-out;
}

.objetivos2:not(:hover) .text__mision22 {
    opacity: 0;
    visibility: hidden;
    animation: slideOut 0.1s ease-out;
}

/*fin de carteles abajo*/



/*debajo de la foto*/


.abouttodo__list{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
}

.list__do{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-top: 15px;
}


.list__list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    
}

.list__subtitle{
    font-size: 18px;
    font-family: "Montserrat";
    color: var(--color-forty);
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.5px;
    margin: 5px 0;

}

.list__text{
    font-size: 13px;
    font-family: "Montserrat";
    color: var(--color-layout);
    text-align: center;
    text-transform: none;
    font-weight: 700;
    letter-spacing: 0.5px;
    margin: 5px 0;
    line-height: 1.2;
    word-break: break-word;
    width: 90%;
}

.list__img{
    margin-left: 5px;
}


.about__design2 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
}

.design__subtitule2{
    font-size: 22px;
    font-family: "Parkinsans";
    color: var(--color-forty);
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 10px;
}

.design__text2 {
    font-size: 18px;
    font-family: "Montserrat";
    color: var(--color-layout);
    text-align: justify;
    text-transform: none;
    width: 90%;
    font-weight: 500;
    word-break: break-word;
    margin: 10px 0px;
    line-height: 1.1;
}